/*! WordPress Tweaks by Gyorgy Papp | Mar 25 '17 at 12:01 */
#post-thumbnails,
.column-post-thumbnails {
  width: 55px;
  text-align: center;
}
.column-post-thumbnails img {
  max-width: 50px;
  max-height: 50px;
}